apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
        version: v0.1
    spec:
      containers:
      - name: frontend
        image: frontend:0.1
        ports:
        - containerPort: 3000
